header(class="bg-indigo-600 p-4") 
    .container.mx-auto.flex.justify-between.items-center
       
            h1.text-2xl.text-white.font-extrabold.text-center AgenFace
                span.font-normal Regconizer

            nav(class="my-5 text-sm md:flex md:items-center md:gap-4 font-bold text-white hidden")
                a(href="/inicio/dashboard" class=" text-white my-5") Dashboard     
                a(class= "bg-indigo-800 py-2 px-10 rounded-md" href="/auth/login") Cerrar Sesion




