extends ../layout/index


block contenido
    .py-10
        h1.text-4xl.my-10.font-extrabold.text-center Bienvenido al Dashboard
      
        a(class= "bg-indigo-600 py-2 px-10 rounded-md text-white " href="") Entra Al Dashboard
        
    